<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandwhale.testepoll"
    android:versionCode="1"
    android:versionName="0.8.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="com.teamteam.witherest.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.teamteam.witherest.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="SandApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivitySplash"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMain"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.teamteam.witherest" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" >
        </service>

        <activity
            android:name="ActivityPoll"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ActivityCreatePoll_1"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="ActivityCreatePoll_2"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityPollImageViewer"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>